body {
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 20px 30px black;
  border-radius: 17%;
  /* overflow-x: hidden; */
}

.container {
  width: 1155px;
  margin: 0 auto;
  font-family: 'Catamaran', sans-serif;
}

.twins {
 
  width: 580px;
  margin-right: 149px;
  margin-top: 20px;
}

.radius-div {
  border-radius: 30px;
}

.history-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.history-title {
  font-family: 'Catamaran', sans-serif;
  width: 590px;
  font-weight: bold;
  font-size: 50px;
}

.history-span {
  color: #FBB400;
}

.history-txtf {
  font-size: 18px;
  width: 360px;
  line-height: 150.6%;
  letter-spacing: 0.03em;
  color: #153461;
  margin-top: 70px;
  margin-right: 19px;
}

.history-txts {
  font-size: 18px;
  width: 360px;
  line-height: 150.6%;
  letter-spacing: 0.03em;
  margin-right: 19px;
  padding-top: 30px;
  margin-bottom: 70px;
  color: #153461;
}

.history-link {
  text-decoration: none;
  border-radius: 17px;
  padding: 15px 20px;
  background-color: #99BAED;
}

}
.servises-list{
  justify-content: space-between;
  padding-bottom: 272px;
}
.servis-title{
  font-size: 45px;
  line-height: 116.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 60px;
  
}
.galery-img{
  justify-content: space-evenly;
  margin-top: 110px;
  padding: 0 40px;
  padding-bottom: 80px;
}
.galry-item{
  width: 435px;
  height: 435px;
  margin-top: 35px;
}

.servises-list{
  display: flex;
  align-items: center;
  
}

li {
  list-style: none;
}

.history-title{
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.all::before{
  content: "";
  width: 103px;
  height: 129px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  display: flex;
  margin: 0 auto;
  margin-bottom: 59px;
}
.imgg::before{
  background-image: url("../img/qaychi.svg");
  margin-right: 95px;
  width: 113px;
}
.imgg1::before{
  background-image: url("../img/aparat.svg");
}
.imgg2::before{
  background-image: url("../img/jrem.svg");
  margin-right: 80px;
  width: 113px;
}
.servis-div-all{
  background: #99BAED;
  border-radius: 29px;
  padding: 50px 40px;
}

.servises-text{
  font-size: 25px;
  line-height: 150.6%;  
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.servises-item{
  width: 476px;
}
.servis-item-all1{
  border-radius: 29px;
  padding: 50px 40px;
  background: #FAFBFF;
  box-shadow: 0px 5px 0px #99BAED;
  border-radius: 29px;
}
.servis-title1{
  font-size: 45px;
  line-height: 116.6%;
  text-align: center;
  color: #163561;
  margin-bottom: 60px;
}
.servises-text1{
  font-size: 25px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}

.galary-first {
  align-items: center;
  
}

.big-galar{
  width: 609px;
  margin: 0 auto;
  margin-bottom: 50px;
}

